.Rproj.user
.Rhistory
.RData
.Ruserdata
workspace.RData
*.Rproj

data/fixed_cses/
data/fixed_snes/

output/data/
output/

docs/
docs/other/literature 
docs/.other/

code/.other/

docs/*.html
docs/*.nb.html  
*.nb.html
*.html
*.other*
