.Rproj.user
.Rhistory
.RData
.Ruserdata

data/fixed_cses/
data/fixed_snes/
output/data/

docs/*.html
docs/*.nb.html  
*.nb.html
*.html

docs/other/literature 
docs/

test/

workspace.RData
*.Rproj

output/

*.other*
